DesktopClient/Service References/CheckInService/CheckInService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCheckIn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckIn" nillable="true" type="tns:CheckIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckIn" nillable="true" type="tns:ArrayOfCheckIn" />
  <xs:complexType name="CheckIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ArrivingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Bedroom" nillable="true" type="tns:Bedroom" />
      <xs:element minOccurs="0" name="DepartureDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guests" nillable="true" type="tns:ArrayOfGuest" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckIn" nillable="true" type="tns:CheckIn" />
  <xs:complexType name="Bedroom">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:boolean" />
      <xs:element minOccurs="0" name="BathroomType" nillable="true" type="tns:BathroomType" />
      <xs:element minOccurs="0" name="BedType" nillable="true" type="tns:BedType" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bedroom" nillable="true" type="tns:Bedroom" />
  <xs:complexType name="BathroomType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BathroomType" nillable="true" type="tns:BathroomType" />
  <xs:complexType name="BedType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BedType" nillable="true" type="tns:BedType" />
  <xs:complexType name="ArrayOfGuest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guest" nillable="true" type="tns:Guest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuest" nillable="true" type="tns:ArrayOfGuest" />
  <xs:complexType name="Guest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="tns:Sex" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guest" nillable="true" type="tns:Guest" />
  <xs:simpleType name="Sex">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MALE" />
      <xs:enumeration value="FEMALE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Sex" nillable="true" type="tns:Sex" />
</xs:schema>