DesktopClient/Service References/CheckInService/CheckInService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CheckInService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICheckInService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:8000/Service/CheckInService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:8000/Service/CheckInService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:8000/Service/CheckInService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICheckInService_GetPendingCheckOut_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingCheckOut" />
  </wsdl:message>
  <wsdl:message name="ICheckInService_GetPendingCheckOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingCheckOutResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckInService_GetBetweenDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBetweenDates" />
  </wsdl:message>
  <wsdl:message name="ICheckInService_GetBetweenDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBetweenDatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckInService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ICheckInService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckInService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ICheckInService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckInService_DoCheckOut_InputMessage">
    <wsdl:part name="parameters" element="tns:DoCheckOut" />
  </wsdl:message>
  <wsdl:message name="ICheckInService_DoCheckOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoCheckOutResponse" />
  </wsdl:message>
  <wsdl:portType name="ICheckInService">
    <wsdl:operation name="GetPendingCheckOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckInService/GetPendingCheckOut" message="tns:ICheckInService_GetPendingCheckOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckInService/GetPendingCheckOutResponse" message="tns:ICheckInService_GetPendingCheckOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBetweenDates">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckInService/GetBetweenDates" message="tns:ICheckInService_GetBetweenDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckInService/GetBetweenDatesResponse" message="tns:ICheckInService_GetBetweenDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckInService/GetAll" message="tns:ICheckInService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckInService/GetAllResponse" message="tns:ICheckInService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckInService/Create" message="tns:ICheckInService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckInService/CreateResponse" message="tns:ICheckInService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoCheckOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckInService/DoCheckOut" message="tns:ICheckInService_DoCheckOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckInService/DoCheckOutResponse" message="tns:ICheckInService_DoCheckOut_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICheckInService" type="tns:ICheckInService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICheckInService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPendingCheckOut">
      <soap:operation soapAction="http://tempuri.org/ICheckInService/GetPendingCheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBetweenDates">
      <soap:operation soapAction="http://tempuri.org/ICheckInService/GetBetweenDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ICheckInService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ICheckInService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoCheckOut">
      <soap:operation soapAction="http://tempuri.org/ICheckInService/DoCheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckInService">
    <wsdl:port name="BasicHttpBinding_ICheckInService" binding="tns:BasicHttpBinding_ICheckInService">
      <soap:address location="https://localhost:8000/Service/CheckInService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>