DesktopClient/Service References/GuestService/GuestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:8000/Service/GuestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel.DataContracts" />
  <xs:element name="CreateOrUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainModel.DataContracts" minOccurs="0" name="guestDto" nillable="true" type="q1:GuestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGuestById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGuestByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainModel.DataContracts" minOccurs="0" name="FindGuestByIdResult" nillable="true" type="q2:GuestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>