DesktopClient/Service References/AmenityService/AmenityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AmenityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IAmenityService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:8000/Service/AmenityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:8000/Service/AmenityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:8000/Service/AmenityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAmenityService_GetAllBedTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBedTypes" />
  </wsdl:message>
  <wsdl:message name="IAmenityService_GetAllBedTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBedTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IAmenityService_GetAllBathroomTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBathroomTypes" />
  </wsdl:message>
  <wsdl:message name="IAmenityService_GetAllBathroomTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBathroomTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IAmenityService_CreateBedType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBedType" />
  </wsdl:message>
  <wsdl:message name="IAmenityService_CreateBedType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBedTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAmenityService_CreateBathroomType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBathroomType" />
  </wsdl:message>
  <wsdl:message name="IAmenityService_CreateBathroomType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBathroomTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAmenityService">
    <wsdl:operation name="GetAllBedTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmenityService/GetAllBedTypes" message="tns:IAmenityService_GetAllBedTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmenityService/GetAllBedTypesResponse" message="tns:IAmenityService_GetAllBedTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBathroomTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmenityService/GetAllBathroomTypes" message="tns:IAmenityService_GetAllBathroomTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmenityService/GetAllBathroomTypesResponse" message="tns:IAmenityService_GetAllBathroomTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBedType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmenityService/CreateBedType" message="tns:IAmenityService_CreateBedType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmenityService/CreateBedTypeResponse" message="tns:IAmenityService_CreateBedType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBathroomType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmenityService/CreateBathroomType" message="tns:IAmenityService_CreateBathroomType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmenityService/CreateBathroomTypeResponse" message="tns:IAmenityService_CreateBathroomType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAmenityService" type="tns:IAmenityService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IAmenityService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBedTypes">
      <soap:operation soapAction="http://tempuri.org/IAmenityService/GetAllBedTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBathroomTypes">
      <soap:operation soapAction="http://tempuri.org/IAmenityService/GetAllBathroomTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBedType">
      <soap:operation soapAction="http://tempuri.org/IAmenityService/CreateBedType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBathroomType">
      <soap:operation soapAction="http://tempuri.org/IAmenityService/CreateBathroomType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmenityService">
    <wsdl:port name="BasicHttpBinding_IAmenityService" binding="tns:BasicHttpBinding_IAmenityService">
      <soap:address location="https://localhost:8000/Service/AmenityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>